@import "tailwindcss";
@import "../../ui-kit-tailwind-safelist.css";


:root {
  --positive: #ffffff;
  --negative: #243441;
  --primary: #2287ba;
  --secondary: #fc7d0b;
}

@theme {
  --color-positive: #ffffff;
  --color-negative: #243441;
  --color-primary: #005f87;
  --color-secondary: #c75b00;
}

body {
  background: var(--negative);
  color: var(--positive);
  font-family: Arial, Helvetica, sans-serif;
}