services:
  # STRAPI BACKEND
  backend:
    container_name: backend-container
    image: ghcr.io/edoandcode/devblog-app-backend-image:latest
    env_file: ../../backend/.env.production
    build:
      context: ../../backend
      dockerfile: Dockerfile.production
    volumes:
      - public-data:/opt/app/public
    restart: unless-stopped
    networks:
      - backend
    depends_on:
      - strapi-db
  # STRAPI DATABASE
  strapi-db:
    container_name: postgres-db-container
    image: postgres:14.5-alpine
    platform: linux/amd64 #for platform error on Apple M1 chips
    env_file: ../../backend/.env.production
    volumes:
      - strapi-data:/var/lib/postgresql/data/ #using a volume
    #- ./data:/var/lib/postgresql/data/ # if you want to use a bind folder
    restart: unless-stopped
    networks:
      - backend

volumes:
  strapi-data:
  public-data:


networks:
  backend:
    name: backend
    driver: bridge
