
services:
  # NEXTJS FRONTEND
  frontend:
    container_name: frontend-container
    image: ghcr.io/edoandcode/devblog-app-frontend-image:latest
    env_file: ../../frontend/.env.production
    build:
      context: ../../frontend
      dockerfile: Dockerfile.production
    restart: unless-stopped
    networks:
      - frontend

networks:
  frontend:
    name: frontend
    driver: bridge